/* from heroku */
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7; }
  .jumbotron .btn-primary:hover {
    background: #7646c1; }
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em; }
.navbar + .jumbotron {
  margin-top: -20px; }
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; }
  .jumbotron .lang-logo img {
    max-width: 100%; }

/*mine */
.canteen_pages_navbar{background-color: #007300;}
.inline{display: inline;}
.intro-texts {
  width:100%; height:100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.intro-texts .row{width:100%;}
.intro-title p{color:white; font-family: 'Open Sans', sans-serif; font-size: 60px;}
.intro-texts .intro-slogan p{color:white; font-family: 'Open Sans', sans-serif; font-size: 25px;}
.intro-search > input{height:45px; font-size: 18px; width:80%; margin-left: auto; margin-right: auto;}
.filter{background-color: #bddebd; color:#007300;}

.nav #canteen_pages_navbar{
  background-color: red;
}

ul.tags_links, ul.tags_images{
  padding: 0;
  list-style: none;
  margin:0;
}
ul.tags_links li {
   display: inline-block;
   margin: 15px 4px;
}
ul.tags_links li a {
  color: #333;
  font-size: 0.85em;
  background: #e9e9e9;
  padding: 10px 20px;
}
ul.tags_links li a:hover{
	text-decoration:none;
    background:#E0E0E0;
}

ul.tags_links, ul.tags_images{
  padding: 0;
  list-style: none;
  margin:0;
}

ul.tags_images li {
  float: left;
  width: 19.2%;
  margin-right: 1%;
}
ul.tags_images li.last{
	margin-right:0;
}
.tags {
  margin: 3em 0 0 0;
}
ul.tags_images {
  margin-bottom: 3em;
}

.stock_left {
  margin-bottom: 2em;
}
.stock_left{
	padding:0;
}

#food_profile {
    margin-top: 50px;
    border-style: solid;
    border-width: 10px;
    border-color: #007300;
}
