<!-- Filter Modal -->
<div id="filterModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter Search</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-3"><label>Restaurant</label></div>
            <div class="col-md-9">
              <select name="restaurant" class="form-control">
                <option value="0">Default</option>
                <option value="1">Chinese Garden</option>
                <option value="2">LG1</option>
                <option value="3">McDonald</option>
                <option value="4">LG7 - GRB</option>
                <option value="5">LG7 - APC</option>
                <option value="6">LG7 - Milano</option>
                <option value="7">Einstein Cafe</option>
                <option value="8">Ebenezer</option>
                <option value="9">LSK canteen</option>
              </select>
            </div>
          </div><br>

          <div class="row">
          <div class="col-md-3"><label>Delivery Speed</label></div>
          <div class="col-md-9">
            <select name="deliverySpeed" class="form-control">
              <option value="0">Default</option>
              <option value="1">Pickup</option>
              <option value="2">Wait Ticket No.</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Offered Time</label></div>
          <div class="col-md-9">
            <select name="offeredTime" class="form-control">
              <option value="0">Default</option>
              <option value="1">Morning</option>
              <option value="2">Lunch</option>
              <option value="3">Tea Time</option>
              <option value="4">Dinner</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Cuisine Type</label></div>
          <div class="col-md-9">
            <select name="cuisine" class="form-control">
              <option value="0">Default</option>
              <option value="1">Chinese</option>
              <option value="2">Japanese</option>
              <option value="3">Italian</option>
              <option value="4">Thai</option>
              <option value="5">Vietnamese</option>
              <option value="6">Indian/Turkey</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Taste Type</label></div>
          <div class="col-md-9">
            <input type="checkbox" name="tasteType" value="1"> spicy &nbsp;
            <input type="checkbox" name="tasteType" value="2"> sweet &nbsp;
            <input type="checkbox" name="tasteType" value="3"> salty &nbsp;
            <input type="checkbox" name="tasteType" value="4"> sour &nbsp;
            <input type="checkbox" name="tasteType" value="5"> oily &nbsp;
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Food Type</label></div>
          <div class="col-md-9">
            <div>
              <input type="checkbox" name="foodType" value="1"> noodle &nbsp;
              <input type="checkbox" name="foodType" value="2"> rice &nbsp;
              <input type="checkbox" name="foodType" value="3"> soup &nbsp;
              <input type="checkbox" name="foodType" value="4"> bread &nbsp;
              <input type="checkbox" name="foodType" value="5"> dimsum &nbsp;
            </div>
            <div>
              <input type="checkbox" name="foodType" value="7"> pork &nbsp;
              <input type="checkbox" name="foodType" value="8"> beef &nbsp;
              <input type="checkbox" name="foodType" value="9"> chicken &nbsp;
              <input type="checkbox" name="foodType" value="10"> lamb &nbsp;
              <input type="checkbox" name="foodType" value="11"> fish &nbsp;
              <input type="checkbox" name="foodType" value="12"> duck &nbsp;
            </div>
            <input type="checkbox" name="foodType" value="13"> vegetable &nbsp;
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Sauce Type</label></div>
          <div class="col-md-9">
            <div>
              <div>
                <input type="checkbox" name="sauceType" value="1"> tomato &nbsp;
                <input type="checkbox" name="sauceType" value="2"> cream &nbsp;
                <input type="checkbox" name="sauceType" value="3"> black pepper &nbsp;
                <input type="checkbox" name="sauceType" value="4"> mayonnaise &nbsp;
              </div>
              <div>
                <input type="checkbox" name="sauceType" value="5"> curry &nbsp;
                <input type="checkbox" name="sauceType" value="6"> soy sauce &nbsp;
                <input type="checkbox" name="sauceType" value="7"> oyster sauce &nbsp;
                <input type="checkbox" name="sauceType" value="8"> teriyaki &nbsp;
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Without</label></div>
          <div class="col-md-9">
            <div>
              <div>
                <input type="checkbox" name="without" value="1"> vegetable &nbsp;
                <input type="checkbox" name="without" value="2"> pork &nbsp;
                <input type="checkbox" name="without" value="3"> chicken &nbsp;
                <input type="checkbox" name="without" value="4"> beef &nbsp;
              </div>
              <div>
                <input type="checkbox" name="without" value="5"> lamb &nbsp;
                <input type="checkbox" name="without" value="6"> fish &nbsp;
              </div>
            </div>
          </div>
        </div><br>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="filterSearch()" class="btn btn-default" style="background-color:#bddebd;" data-dismiss="modal">Search</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
  /*function filterSearch() {
    console.log("filterSearch()");



  }*/




</script>
