<!-- Services Section -->
<section id="rankings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top 5 menu</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
              <h4 class="ranking-heading">LG1 canteens</h4>
              <ol id="ranking">
                <li>Best food</li>
                <li>OK food</li>
                <li>LaLa food</li>
                <li>Lalalalal food</li>
                <li>Not-good food</li>
              </ol>
            </div>
            <div class="col-md-4">
                <h4 class="ranking-heading">LG7 canteens</h4>
                <ol id="ranking">
                  <li>Best food</li>
                  <li>OK food</li>
                  <li>LaLa food</li>
                  <li>Lalalalal food</li>
                  <li>Not-good food</li>
                </ol>
            </div>
            <div class="col-md-4">
                <h4 class="ranking-heading">Cafe</h4>
                <ol id="ranking">
                  <li>Best food</li>
                  <li>OK food</li>
                  <li>LaLa food</li>
                  <li>Lalalalal food</li>
                  <li>Not-good food</li>
                </ol>
            </div>
        </div>
    </div>
</section>
