<section id="new" class="bg-light-gray">
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">New Menus</h2>
          <div stlye="width:800px; height:600px;"></div>
      </div>
  </div>
</div>
</section>
