<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="index">
  <% include ../partials/nav.ejs %>
  <div class="container">
      <div class="starter-template">
        <h1> Hello this is apc page</h1>
      </div>

    </div><!-- /.container -->



  <% include ../partials/javascript_dependency.ejs %>
</body>
</html>
