<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">

<p>query result: <%= status%></p>

<h2>Database Results</h2>

<div>
    <%= result %>
</div>

</div>

</body>
</html>
