<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
  <% include ../partials/index/index_nav.ejs %>

<!-- Header -->
<header style="height:700px">
    <div class="container" style="height:100%">
      <div class="intro-texts">
          <div class="row">
            <div class="col-md-12 intro-title">
              <!--<span class="col-md-3">&nbsp;</span>-->
              <p>Nutritionalize HKUST</p>
            </div>
            <div class="col-md-12 intro-slogan">
              <!--<span class="col-md-3">&nbsp;</span>-->
              <p style="color:white;">Use Guacamoli, Become healthy</p>
            </div>
            <div class="form-group intro-search">
              <input type="text" class="form-control" placeholder="Search" id="keyword" name="keyword">
            </div>
            <button type="button" class="btn filter" data-toggle="modal" data-target="#filterModal">
              <i class="fa fa-filter"><h5 class="inline"> Filters</h5></i>
            </button>
            <a href="/menu_list" type="button" class="btn filter">
              <i class="fa fa-filter"><h5 class="inline"> View All menus (production) </h5></i>
            </a><br><br>
            <a href="/insertMenu" type="button" class="btn filter">
              <i class="fa fa-filter"><h5 class="inline"> Insert menu (production) </h5></i>
            </a>
        </div>
      </div>
    </div>
</header>

<body>
<!-- Ranking Section -->
<% include ../partials/index/section_rankings.ejs %>

<!-- New Section -->
<% include ../partials/index/section_new.ejs %>

<!-- Canteen Section -->
<% include ../partials/index/section_canteen.ejs %>

<!-- Team Section & Client Aside-->
<% include ../partials/index/section_involved.ejs %>

<!-- Contact Section-->
<% include ../partials/index/section_contact.ejs %>
</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; guacamoli 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

  <% include ../partials/index/filterModal.ejs %>
  <% include ../partials/javascript_dependency.ejs %>

</body>
</html>
<script>
  function searchByKeyword() {
    console.log("searchByKeyword()");
    window.location.href = "/search?keyword="+$("#keyword").val();
  }

  $(document).ready(function(){
      var current_url = window.location.href;
      if(current_url.localeCompare("http://localhost:5000/rankings")==0){
        $('.ranking_link').trigger("click");
      }else if(current_url.localeCompare("http://localhost:5000/team")==0){
        $('.team_link').trigger("click");
      }else if(current_url.localeCompare("http://localhost:5000/contact")==0){
        $('.contact_link').trigger("click");
      }

      $('#keyword').keypress(function (e) {
       var key = e.which;
       if(key == 13)  // the enter key code
        {
          searchByKeyword();
        }
      });

  });
  $( "#keyword" ).keypress(function(e) {
    keywordSearch(e);
  });

</script>
