<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="index">


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              <img alt="Brand" src="/images/avocado_logo.png" style="display: inline-block;">
              Guacamoli
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li><a class="page-scroll ranking_link" href="#rankings">Rankings</a></li>
                <li><a class="page-scroll" href="#lg1">LG1</a></li>
                <li><a class="page-scroll" href="#lg7">LG7</a></li>
                <li><a class="page-scroll" href="#cafe">Cafe</a></li>
                <li><a class="page-scroll" href="#lsk">LSK</a></li>
                <li><a class="page-scroll team_link" href="#team">Team</a></li>
                <li><a class="page-scroll contact_link" href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header style="height:700px">
    <div class="container" style="height:100%">
      <div class="intro-texts">
          <div class="row">
            <div class="col-md-12 intro-title">
              <!--<span class="col-md-3">&nbsp;</span>-->
              <p>Nutritionalize HKUST.</p>
            </div>
            <div class="col-md-12 intro-slogan">
              <!--<span class="col-md-3">&nbsp;</span>-->
              <p style="color:white;">Use Guacamoli, Become healthy</p>
            </div>
            <div class="form-group intro-search">
              <input type="text" class="form-control" placeholder="Search" id="keyword" name="keyword">
            </div>
            <button type="button" class="btn filter" data-toggle="modal" data-target="#filterModal">
              <i class="fa fa-filter"><h5 class="inline"> Filters</h5></i>
            </button>
            <a href="/menu_list" type="button" class="btn filter">
              <i class="fa fa-filter"><h5 class="inline"> View All menus (production) </h5></i>
            </a><br><br>
            <a href="/insertMenu" type="button" class="btn filter">
              <i class="fa fa-filter"><h5 class="inline"> Insert menu (production) </h5></i>
            </a>
        </div>
      </div>
    </div>
</header>

<!-- Services Section -->
<section id="rankings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top 5 menu</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
              <h4 class="ranking-heading">LG1 canteens</h4>
              <ol id="ranking">
                <li>Best food</li>
                <li>OK food</li>
                <li>LaLa food</li>
                <li>Lalalalal food</li>
                <li>Not-good food</li>
              </ol>
            </div>
            <div class="col-md-4">
                <h4 class="ranking-heading">LG7 canteens</h4>
                <ol id="ranking">
                  <li>Best food</li>
                  <li>OK food</li>
                  <li>LaLa food</li>
                  <li>Lalalalal food</li>
                  <li>Not-good food</li>
                </ol>
            </div>
            <div class="col-md-4">
                <h4 class="ranking-heading">Cafe</h4>
                <ol id="ranking">
                  <li>Best food</li>
                  <li>OK food</li>
                  <li>LaLa food</li>
                  <li>Lalalalal food</li>
                  <li>Not-good food</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- LG1 Grid Section -->
<section id="lg1" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">LG1</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Braised Pork in Shanghai Grandma Style</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Duck Breast with Pumpkin & Pineapple</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Tomato & Scrambled Egg Rice</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col=md-12 pull-right">
              <a href="lg1">See more...</a>
            </div>
        </div>
    </div>
</section>

<!-- LG7 Grid Section -->
<section id="lg7" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">LG7</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Braised Pork in Shanghai Grandma Style</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Duck Breast with Pumpkin & Pineapple</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Tomato & Scrambled Egg Rice</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col=md-12 pull-right">
              <a href="lg7">See more...</a>
            </div>
        </div>
    </div>
</section>

<!-- Cafe Grid Section -->
<section id="cafe" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cafe</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Braised Pork in Shanghai Grandma Style</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Duck Breast with Pumpkin & Pineapple</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Tomato & Scrambled Egg Rice</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col=md-12 pull-right">
              <a href="cafe">See more...</a>
            </div>
        </div>
    </div>
</section>

<!-- LSK Grid Section -->
<section id="lsk" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">LSK</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Braised Pork in Shanghai Grandma Style</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Duck Breast with Pumpkin & Pineapple</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h5>Tomato & Scrambled Egg Rice</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Golden</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Escape</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dreams</h4>
                    <p class="text-muted">Website Design</p>
                </div>
            </div>
            <div class="col=md-12 pull-right">
              <a href="lsk">See more...</a>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Kay Garland</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; guacamoli 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Filter Modal -->
<div id="filterModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter Search</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-3"><label>Restaurant</label></div>
            <div class="col-md-9">
              <select name="restaurant" class="form-control">
                <option value="0">Default</option>
                <option value="1">Chinese Garden</option>
                <option value="2">LG1</option>
                <option value="3">McDonald</option>
                <option value="4">LG7 - GRB</option>
                <option value="5">LG7 - APC</option>
                <option value="6">LG7 - Milano</option>
                <option value="7">Einstein Cafe</option>
                <option value="8">Ebenezer</option>
                <option value="9">LSK canteen</option>
              </select>
            </div>
          </div><br>

          <div class="row">
          <div class="col-md-3"><label>Delivery Speed</label></div>
          <div class="col-md-9">
            <select name="deliverySpeed" class="form-control">
              <option value="0">Default</option>
              <option value="1">Pickup</option>
              <option value="2">Wait Ticket No.</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Offered Time</label></div>
          <div class="col-md-9">
            <select name="offeredTime" class="form-control">
              <option value="0">Default</option>
              <option value="1">Morning</option>
              <option value="2">Lunch</option>
              <option value="3">Tea Time</option>
              <option value="4">Dinner</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Cuisine Type</label></div>
          <div class="col-md-9">
            <select name="cuisine" class="form-control">
              <option value="0">Default</option>
              <option value="1">Chinese</option>
              <option value="2">Japanese</option>
              <option value="3">Italian</option>
              <option value="4">Thai</option>
              <option value="5">Vietnamese</option>
              <option value="6">Indian/Turkey</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Taste Type</label></div>
          <div class="col-md-9">
            <input type="checkbox" name="tasteType" value="1"> spicy &nbsp;
            <input type="checkbox" name="tasteType" value="2"> sweet &nbsp;
            <input type="checkbox" name="tasteType" value="3"> salty &nbsp;
            <input type="checkbox" name="tasteType" value="4"> sour &nbsp;
            <input type="checkbox" name="tasteType" value="5"> oily &nbsp;
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Food Type</label></div>
          <div class="col-md-9">
            <div>
              <input type="checkbox" name="foodType" value="1"> noodle &nbsp;
              <input type="checkbox" name="foodType" value="2"> rice &nbsp;
              <input type="checkbox" name="foodType" value="3"> soup &nbsp;
              <input type="checkbox" name="foodType" value="4"> bread &nbsp;
              <input type="checkbox" name="foodType" value="5"> dimsum &nbsp;
            </div>
            <div>
              <input type="checkbox" name="foodType" value="7"> pork &nbsp;
              <input type="checkbox" name="foodType" value="8"> beef &nbsp;
              <input type="checkbox" name="foodType" value="9"> chicken &nbsp;
              <input type="checkbox" name="foodType" value="10"> lamb &nbsp;
              <input type="checkbox" name="foodType" value="11"> fish &nbsp;
              <input type="checkbox" name="foodType" value="12"> duck &nbsp;
            </div>
            <input type="checkbox" name="foodType" value="13"> vegetable &nbsp;
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Sauce Type</label></div>
          <div class="col-md-9">
            <div>
              <div>
                <input type="checkbox" name="sauceType" value="1"> tomato &nbsp;
                <input type="checkbox" name="sauceType" value="2"> cream &nbsp;
                <input type="checkbox" name="sauceType" value="3"> black pepper &nbsp;
                <input type="checkbox" name="sauceType" value="4"> mayonnaise &nbsp;
              </div>
              <div>
                <input type="checkbox" name="sauceType" value="5"> curry &nbsp;
                <input type="checkbox" name="sauceType" value="6"> soy sauce &nbsp;
                <input type="checkbox" name="sauceType" value="7"> oyster sauce &nbsp;
                <input type="checkbox" name="sauceType" value="8"> teriyaki &nbsp;
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-3"><label>Without</label></div>
          <div class="col-md-9">
            <div>
              <div>
                <input type="checkbox" name="without" value="1"> vegetable &nbsp;
                <input type="checkbox" name="without" value="2"> pork &nbsp;
                <input type="checkbox" name="without" value="3"> chicken &nbsp;
                <input type="checkbox" name="without" value="4"> beef &nbsp;
              </div>
              <div>
                <input type="checkbox" name="without" value="5"> lamb &nbsp;
                <input type="checkbox" name="without" value="6"> fish &nbsp;
              </div>
            </div>
          </div>
        </div><br>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="filterSearch()" class="btn btn-default" style="background-color:#bddebd;" data-dismiss="modal">Search</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

  <% include ../partials/javascript_dependency.ejs %>

</body>
</html>
<script>
  $(document).ready(function(){
      var current_url = window.location.href;
      if(current_url.localeCompare("http://localhost:5000/rankings")==0){
        $('.ranking_link').trigger("click");
      }else if(current_url.localeCompare("http://localhost:5000/team")==0){
        $('.team_link').trigger("click");
      }else if(current_url.localeCompare("http://localhost:5000/contact")==0){
        $('.contact_link').trigger("click");
      }
  });
  $( "#keyword" ).keypress(function(e) {
    keywordSearch(e);
  });
</script>
