<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
      <div class="container">
          <legend>Add menu</legend>
          <br>
          <form>
            <div class="row">
              <div class="col-md-4"><label>Meal name </label></div>
              <div class="col-md-8">
                <input class="form-control" type="text" name="mealName" id="mealName"><br>
              </div>

              <div class="col-md-4"><label>Price </label></div>
              <div class="col-md-8">
                <input class="form-control" type="text" name="price" id="price"><br>
              </div>

              <div class="col-md-4"><label>Image Upload </label></div>
              <div class="col-md-8">
                <table>
                  <tr>
                    <td>
                      <center><img id="imgs" width="170px" height="160px" hidden="true"></img></center>
                    </td>
                    <td>
                      <input type="file" name="image" accept="image/*" id="image" onchange="imgchange(this)"><br>
                    </td>
                  </tr>
                </table>
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-4"><label>Location</label></div>
              <div class="col-md-8">
                <select id="location" name="location" class="form-control">
                  <option value="0">Please select one</option>
                  <option value="1">LG1</option>
                  <option value="2">LG7</option>
                  <option value="3">Einstein Cafe</option>
                  <option value="4">LSK</option>
                </select>
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-4"><label>Restaurant name</label></div>
              <div class="col-md-8">
                <select id="restaurantName" name="restaurantName" class="form-control">
                  <option value="0">Please select one</option>
                  <option value="1">GRB</option>
                  <option value="2">Milano</option>
                  <option value="3">APC</option>
                  <option value="4">Ebenezer</option>
                  <option value="4">LSK canteen</option>
                </select>
              </div>
            </div><br>

            <div class="row">
              <div class="col-md-4"><label>Cuisine Type</label></div>
              <div class="col-md-8">
                <select id="cuisine" name="cuisine" class="form-control">
                  <option value="0">Please select one</option>
                  <option value="1">Chinese</option>
                  <option value="2">Japanese</option>
                  <option value="3">Italian</option>
                  <option value="4">Thai</option>
                  <option value="5">Vietnamese</option>
                  <option value="6">Indian/Turkey</option>
                </select>
              </div>
            </div><br>

            <div class="row">
            <div class="col-md-4"><label>Delivery Speed</label></div>
            <div class="col-md-8">
              <select id="deliverySpeed" name="deliverySpeed" class="form-control">
                <option value="0">Please select one</option>
                <option value="1">Fast - Pickup</option>
                <option value="2">Moderate</option>
                <option value="3">Slow</option>
              </select>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><label>Offered Time</label></div>
            <div class="col-md-8">
              <input type="checkbox" name="offeredTimes[]" value="1"> Morning &nbsp;
              <input type="checkbox" name="offeredTimes[]" value="2"> Lunch &nbsp;
              <input type="checkbox" name="offeredTimes[]" value="3"> Tea Time &nbsp;
              <input type="checkbox" name="offeredTimes[]" value="4"> Dinner &nbsp;
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><label>Taste Type</label></div>
            <div class="col-md-8">
              <input type="checkbox" name="tasteTypes[]" value="1"> spicy &nbsp;
              <input type="checkbox" name="tasteTypes[]" value="2"> sweet &nbsp;
              <input type="checkbox" name="tasteTypes[]" value="3"> salty &nbsp;
              <input type="checkbox" name="tasteTypes[]" value="4"> sour &nbsp;
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><label>Food Type</label></div>
            <div class="col-md-8">
              <input type="checkbox" name="foodTypes[]" value="1"> noodle &nbsp;
              <input type="checkbox" name="foodTypes[]" value="2"> rice &nbsp;
              <input type="checkbox" name="foodTypes[]" value="3"> soup &nbsp;
              <input type="checkbox" name="foodTypes[]" value="4"> bread &nbsp;
              <input type="checkbox" name="foodTypes[]" value="5"> vegetable &nbsp;
              <input type="checkbox" name="foodTypes[]" value="6"> meat &nbsp;
              <input type="checkbox" name="foodTypes[]" value="7"> drinks &nbsp;
              <input type="checkbox" name="foodTypes[]" value="8"> dessert &nbsp;
              <input type="checkbox" name="foodTypes[]" value="9"> dimsum &nbsp;
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4"><label>Rating</label></div>
            <div class="col-md-8">
              <select id="rating" name="rating" class="form-control">
                <option value="0">Please select one</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div><br>

      </form>
      <button id="submit" type="submit" class="btn btn-primary pull-right">Upload</button>
      <br><br><br><br>
      <% include ../partials/javascript_dependency.ejs %>
</body>

</html>

<script type="text/javascript">
function imgchange(f) {
   var filePath = $('#image').val();
   var reader = new FileReader();
   reader.onload = function (e) {
       $('#imgs').attr('src',e.target.result);
       $('#imgs').attr("hidden",false);
   };
   reader.readAsDataURL(f.files[0]);
}

$(document).ready(function() {
  $("#submit").click(function() {
    console.log("submit");

    var location = $("#location").val();
    var restaurant_name = $("#restaurantName").val();
    var name = $("#mealName").val();
    var price = $("#price").val();
    var picture_url = "";

    var deliverySpeed= $("#deliverySpeed").val();
    var cuisineType = $("#cuisine").val();

    var offeredTimes = new Array();
    $.each($("input[name='offeredTimes[]']:checked"), function() {
      offeredTimes.push($(this).val());
    });
    console.log(offeredTimes);

    var tasteTypes = new Array();
    $.each($("input[name='tasteTypes[]']:checked"), function() {
      tasteTypes.push($(this).val());
    });
    console.log(tasteTypes);

    var foodTypes = new Array();
    $.each($("input[name='foodTypes[]']:checked"), function() {
      foodTypes.push($(this).val());
    });
    console.log(foodTypes);

    var rating = $("#rating").val();

    $.post("/uploadMeal", {   // post body
      "location": location,
      "restaurant_name": restaurant_name,
      "name": name,
      "price": price,
      "picture_url": picture_url,
      "deliverySpeed": deliverySpeed,
      "cuisineType": cuisineType,
      "offeredTimes": offeredTimes,
      "tasteTypes": tasteTypes,
      "foodTypes": foodTypes,
      "rating": rating
    }, function (result) {  // callback
      console.log(result);




    });

  });
});

</script>
