<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
      <div class="container">
          <legend>Add menu</legend>
          <br>
          <div class="row">
            <div class="col-md-3"><label>Location (LG7, Cafe, LSK, etc...)</label></div>
            <div class="col-md-9">
              <input class="form-control" type="text" id="Location">
            </div>

            <div class="col-md-3"><label>Restaurant name (GRB, Cafe, etc..)</label></div>
            <div class="col-md-9">
              <input type="text" id="RestaurantName"><br>
            </div>

            <div class="col-md-3"><label>Category (chef's specia, pasta, etc..)</label></div>
            <div class="col-md-9">
              <input type="text" id="Category"><br>
            </div>


            <div class="col-md-3"><label>Meal name </label></div>
            <div class="col-md-9">
              <input type="text" id="MealName">
            </div>

            <div class="col-md-3"><label>Category (chef's specia, pasta, etc..)</label><br></div>
            <div class="col-md-9">
              <input type="text" id="Category"><br><br>
            </div>





          <br><br>

          <label>picture_url </label><br>
          <input type="text" id="MealName"><br><br>

          <label>price </label><br>
          <input type="text" id="MealName"><br><br>

          <input type="radio" id="pMaterialRadio" name="offeredBreakfast" checked>offered for breakfast</input><br>
          <input type="radio" name="offeredBreakfast" >not offered for breakfast</input>
          <input type="radio" id="pMaterialRadio" name="offeredLunch" checked>offered for lunch</input><br>
          <input type="radio" name="offeredLunch" >not offered for lunch</input>
          <input type="radio" id="pMaterialRadio" name="offeredDinner" checked>offered for dinner</input><br>
          <input type="radio" name="offeredDinner" >not offered for dinner</input>

          <div>
            <button type="button" id = "packageStatus" class="btn btn-primary"
              style="display: inline-block;font-size: 12px;display: none; margin: 10px;">
            </button>
          </div>
        </div>



</body>
</html>
