<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="index">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="starter-template">
      <h1> LG1 - Maxim's</h1>

      <div class="row">
        <% results.forEach(function(r) { %>
          <div class="col-md-3" onclick="window.location='<%= "/menu/"+r.id %>';">
            <img src= <%= r.picture_url %> class="img-responsive" alt=""/>
            <%= r.id %> - <%= r.name %>
          </div>
        <% }); %>
      </div> <!-- /.row -->
    </div>
  </div><!-- /.container -->

<!--

<div class="col-md-3">lala</div>
<div class="col-md-3">lala</div>
<div class="col-md-3">lala</div>
-->


  <% include ../partials/javascript_dependency.ejs %>
</body>
</html>
<script>

</script>
