<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Menus listing</h2>
<ul>
    <% results.forEach(function(r) { %>
        <li><a href= <%= "/menu/"+r.id %> ><%= r.id %> - <%= r.name %></a></li>
    <% }); %>
</ul>

</div>

</body>
</html>
