<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body id="page-top" class="index">
  <% include ../partials/nav.ejs %>
  <div class="container">
      <div class="single">
        <div class="container">
           <div class="single_box1">
           <div class="col-sm-5 single_left">
             <img src="images/lohanStyle.jpg" class="img-responsive" id="food_profile" alt=""/>
           </div>
           <div class="col-sm-7" style="margin-top: 50px;">
            <ul class="size">
              <h3 class="tag_head">Fried Noodle in LoHan Style</h3>
              <ul style="list-style-type:none">
                  <li><b>Price</b>: $48</li><br>
                  <li><b>Availability</b>: Lunch, Dinner </li><br>
                  <li><b>Restaurant</b>: G/F Chinese Garden </li><br>
                  <li><b>Delivery Speed</b>: Moderate Waiting </li><br>
                  <li><b>Cuisine Type</b>: Chinese Style</li><br>
                  <li><b>Taste Type</b>: Salty, Oily </li><br>
                  <li><b>Food Type</b>: Noodle, Vegetable </li><br>
              </ul>
              </ul>
            </ul>
          </div>
          <div class="clearfix"> </div>
          <div class="col-md-12">
            <h4 class="tag_head">Keywords</h4>
             <ul class="tags_links">
                <li><a href="#">Soy Sauce</a></li>
                <li><a href="#">Chinese</a></li>
                <li><a href="#">Noddle</a></li>
                <li><a href="#">Vegetable</a></li>
                <li><a href="#">Salty</a></li>
                <li><a href="#">Oily</a></li>
             </ul>
          </div>

          <div class="clearfix"> </div>

          <div class="tags">
    	    	<h4 class="tag_head">See Similar Menus</h4>
    	         <ul class="tags_images">
            				<li><a href="#"><img src="images/pic40.jpg" class="img-responsive" alt=""/></a></li>
            				<li><a href="#"><img src="images/pic41.jpg" class="img-responsive" alt=""/></a></li>
            				<li><a href="#"><img src="images/pic42.jpg" class="img-responsive" alt=""/></a></li>
            				<li><a href="#"><img src="images/pic43.jpg" class="img-responsive" alt=""/></a></li>
            				<li class="last"><a href="#"><img src="images/pic39.jpg" class="img-responsive" alt=""/></a></li>
            				<div class="clearfix"> </div>
        			 </ul>
    			</div>
          </div>
        </div>
    </div>
  </div><!-- /.container -->



  <% include ../partials/javascript_dependency.ejs %>
</body>
</html>
<script>

</script>
